
<html>



<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
   
    <form asp-action="ForgotPassword" asp-controller="Security" class="container">
        <h3>Forgot Password</h3>
        <div class="form-group col-md-6">
            <input type="text" name="email" id="email" class="form-control"/><br />
            <input type="submit" value="Send" class="btn btn-warning" /><br />
        </div>
       

    </form>
</body>


</html>