@model AspNetCoreMvcSample.Models.Security.ResetPasswordViewModel
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <form asp-action="ResetPassword" asp-controller="Security" class="container">
        <h3>Reset Password</h3>
        <div class="form-group col-md-6">
           
            <input asp-for="Code" type="hidden" />
            <input type="text" asp-for="Email" placeholder="Email" class="form-control" /><br />
            <input type="password" asp-for="Password" placeholder="Password" class="form-control" /><br />

            <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control" /><br />
            <input type="submit" value="Reset" class="btn btn-primary" />
        </div>


    </form>
  
</body>

</html>
