
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />



<div class="col-md-2">
    <h3>Kütüphane</h3>
    <hr />
    <div>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">
            Üyeler
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">
            Kitaplar
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">
            Yayın Evleri
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">
            Yazarlar
        </a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">
            Ödünç İşlemleri
        </a>
    </div>
</div>


